* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 125px;
    max-width: 1279px;
}

.product-cart {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
/* Giỏ hàng */
.text-center {
    color: #202020;
    font-size: 32px;
}

.cartformpage {
   width: 100%;
}

/* Table */
.cart-hidden th, .cart-hidden tr,.cart-hidden td,.cart-hidden thead {
    border: 1px solid #ddd;
}

.cart-hidden {
    width: 100%;
}

table.cart tr th {
    padding: 10px 5px;
    margin-bottom: 10px !important;
    background-color: #BAF120;
    border: 1px solid #e9e9e9;
    text-align: center;
    color: #666;
    font-size: 20px;
}

tr th.total {
    width: 160px;
}

/*  */
table.cart {
    text-align: center;
}

tr.item td.price {
    font-weight: 600;
}

/* Image */
@media (min-width: 992px) {
    .product-image img {
        margin: 10px 0px 10px;
    }
}

.item .image {
    width: 150px;
    height: 150px;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-Name a {
    color: #446084;
    font-weight: bold;
    text-decoration: none;    
}

.qty input {
    border: 1px solid #6666;
    width: 90px;
    height: 35px;
}

/* Ẩn thanh bấm số tăng/giảm mặc định của input[type="number"] */
.qty input[type="number"]::-webkit-inner-spin-button,
.qty input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Ẩn trên trình duyệt Webkit (Chrome, Edge, Safari) */
    margin: 0;
}

.qty input[type="number"] {
    -moz-appearance: textfield; /* Ẩn trên Firefox */
    text-align: center;
}

/* Icon delete */
.remove {
    padding: 0px 5px;
}

.remove .fa-regular {
    color: #333;
}

.remove .fa-regular:hover {
    color: #BAF120;
}

/* Check select */
.select-product .check-select {
    width: 20px;
    height: 20px;
}

/* T-C */
.total-checkout {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}

/* Cart Total */
.cart-total {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.cart-total .heading-title {
    font-size: 20px;
    text-align: center;
}

.cart-total .subtotal , .cart-total .total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #333;
    align-items: center;
    padding: 5px;
}
.subtotal .subtotal-title {
    font-weight: 500;
    font-size: 18px;
}

.subtotal p, .total p {
    margin: 0;
}

.subtotal-price, .total {
    color: #666;
    font-weight: 700;
}

.cart-total .btn-primary-checkout {
    background-color:  #d0f46c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

.btn-primary-checkout a {
   text-decoration: none;
    color: #333;
}

.btn-primary-checkout:hover {
    background-color:  #BAF120;
}