* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 125px;
    max-width: 1279px;
}

.container .heading-title {
    padding: 20px 0;
}
.container-small {
    display: flex;
    gap: 50px;
}

/* form-left */
.form-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-left #frm-infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#frm-infor input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #A39999;
    padding: 10px;
}

/* Payment option */
.payment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.method-payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #A39999;
    padding: 20px 0px;
}

.method-payment input { 
    width: 50px;
    height: 25px;
}

.method-payment .momo, .method-payment .cash {
    display: flex;
}

/* Button */
.return-order {
    display: flex;
    justify-content: space-between;
}

.return-order button{
    width: 170px;
    height: 45px;
    border-radius: 5px;
}

.return .fa-solid {
    padding: 5px;
}

.return-order .order {
    background-color: #BAF120;
    border: none;
}

/* form-right */
/* .form-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
/* .form-right .order-summary {
    overflow-y: scroll;
} */

/* .order-summary .product-item {
    display: flex;
    gap: 20px;
    width: 100%;
    border-bottom: 2px solid #A39999;
    border-top: 2px solid #A39999;
    padding: 20px 10px;
    justify-content: space-between;
    position: relative;
} */
/* 
.product-item .box-quantity {
    position: absolute;
    background-color: #BAF120;
    width: 25px;
    height: 25px;
    left: 115px;
    top: 7px;
    border-radius: 20px;
    text-align: center;
} */

/* .product-item .image {
    width: 120px;
    height: 100px;
} */

/* .image img {
    width: 100%;
    height: 100%;
} */

/* Total */
/* .total-order {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
} */