#display_data {
    margin-top: 10px;
    max-height: 650px; 
    overflow-y: auto; 
    padding: 10px;
}

#display_data::-webkit-scrollbar {
    display: none;
}

.description {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead tr th {
    text-align: center;
}


th, td {
    text-align: center;
    vertical-align: middle;
}

.status {
    position: relative;
}

.status span {
    position: absolute; 
    bottom: 0;          
    right: 0;          
    text-decoration: underline; 
    cursor: pointer;
    font-size: 12px;      
    font-style: italic;
    margin-left: 5px;
}
