* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
} */

.container {
    margin-top: 140px;
    max-width: 1279.2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main_profile {
    display: flex;
    gap: 100px;
    width: 100%;
    
}

.element_left {
    display: flex;
    flex-direction: column;
}

.element_right {
    width: 100%;
}


.image_container {
    height: 140px;
    width: 140px;
    border: 1px solid rgb(118, 115, 115);
    position: relative;
}

.AccountDetail {
    margin-top: 50px;
}

.form {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.right_hold {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_hold div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right_hold div input {
    padding: 6px 8px;
    width: 260px;
}

.form_btn {
    margin-top: 40px;
    display: flex;
    gap: 70px;
}

.form_btn button {
    padding: 8px 16px;
    outline: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid rgb(117, 113, 113);
}

.form_btn button:hover {
    background-color: #BAF120;
    color: #000;
    cursor: pointer;
}

.image_hold img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.toast {
    position: fixed;
    bottom: 220px;
    right: 20px;
    z-index: 9999;
    background-color: #12d743;
    color: #fff;
}

/* Order Page */
.cartformpage {
    width: 100%;
}

/* Table */
.cart-hidden th, .cart-hidden tr,.cart-hidden td,.cart-hidden thead,
.wishlist-hidden th, .wishlist-hidden tr,.wishlist-hidden td,.wishlist-hidden thead
{
    border: 1px solid #ddd;
}

.cart-hidden, .wishlist-hidden {
    width: 100%;
}
 
table.cart tr th, table.wishlist tr th{
    padding: 10px 5px;
    margin-bottom: 10px !important;
    background-color: #BAF120;
    border: 1px solid #e9e9e9;
    text-align: center;
    color: #666;
    font-size: 20px;
}
 
tr th.total {
    width: 160px;
}

/*  */
table.cart, table.wishlist {
    text-align: center;
}

tr.item td.price {
    font-weight: 600;
}

/* Image */
@media (min-width: 992px) {
    .product-image img {
        margin: 10px 0px 10px;
    }
}
 
.item .image {
    position: relative;
    width: 100px;
    height: 100px;
}

.image span{
    position: absolute;
    bottom: 0;
    right: 4px;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

.image span:hover {
    cursor: pointer;
}

.item td {
    width: 90px;
    height: auto;
    padding: 10px;
}
 
img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-Name a {
    color: #446084;
    font-weight: bold;
    text-decoration: none;    
}
 
.qty input {
    border: 1px solid #6666;
    width: 90px;
    height: 35px;
}

.statusType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#status {
    width: 150px; padding: 5px;
}

/* Scroll */
.scroll-wishList, .scroll-cart {
    max-height: 500px;
    overflow-y: auto;
}

.scroll-wishList::-webkit-scrollbar, .scroll-cart::-webkit-scrollbar {
    width: 7px;
}
.cart-hidden::-webkit-scrollbar {
    width: 7px;
} 